* {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

#logo img {
  height: 50px;
  margin-left: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 

  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;

  position: fixed;
}

nav {
  display: flex;
  top: 0px;

}

nav li {
  padding: 5px;
  margin-right: 15px;
  list-style-type: none;
}

.banner-container {
  display: flex;  
  align-items: center;

  position: relative;
  background-image: url('img/Background.webp');
  top: 69px;
  height: 700px;
  width: 1200px;

  margin: auto;
}

.banner-heading {
  width: 100%;
  text-align: center;
  z-index: 1;
}